<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.dog.Name</h1>
        <h3>Description</h3>
        <p>@ViewBag.dog.Description</p>
        <h3>Trail Length</h3>
        <p>@ViewBag.dog.Length</p>
        <h3>Elevation Change</h3>
        <p>@ViewBag.dog.Gain</p>
        <h3>Longitude</h3>
        <p>@ViewBag.dog.Longitude</p>
        <h3>Latitude</h3>
        <p>@ViewBag.dog.Latitude</p>
    </div>
</body>
</html>